


.Azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.header{
    background-image: url("../picture/Hero-bg.png");
    background-size: cover;
    height:500px;
    background-position: top;
    background-repeat: no-repeat;
    justify-content: center;  
    .pic{
        background-image: url("Group.png");
        background-repeat: no-repeat;
        justify-content: center;
        justify-items: center;
        background-position: top center;
    }
      
}
.first-img{
   background-image: url("../B10A1-Challenge-Begins/Group.png");
    background-size: cover;
    width:50px;
    background-position: top;
    background-repeat: no-repeat;
    justify-content: center;
    nav.first-title{
        font-size: 35px;
    }
  
}

.first-div{
    text-align:center;
    padding-top: 220px;
    font-size: 20px;
    justify-content: center;
    width: 1440;
    height: 650px;
    margin: 0 auto;
}
.bton{
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    background-color:#0D1321;
    font-color:
    width:50px;
    height:40px;
}
.second-title{
    color:#0D1321;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.second-discription{
    color: #0D1321;
    font-size: 18px;
    text-align: center;
    
}
.section-second{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
.banner{
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-content: space-around;
}
.why-div{
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-content: space-around;
}
.section-title{
    font-size: 40px;
}
.sectio-discription{
    font-size:20px ;
}
.right-img{
    display: flex;
}
.third-title{
    color: #0D1321;
    font-size: 24;
}
.third-contain{
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-content: space-around;
}